{% extends "_base.html" %}
{% block title %}{% endblock %}
{% block meta %}
<meta name="description" content="">
{% endblock %}

{% block content %}
<section class="hero bg-grey sf bg_img_1">
    <div class="container hero_block hbs">
        <div class="hero__wrapper nre">
            <div class="hero__block nre">
                <h1 class="hero__title">Эстетика</h1>
                <p class="hero__subtitle">
                    Эстетика должна быть во всем. Нами применяются годами проверенные методы и технологии восстановления красоты зубной
                    аркады.
                </p>
                <div class="hero__buttons hb">
                    <a class="btn btn__primary hero__button js-open--modal" href="#callback">Запись онлайн</a>
                    <a class="btn btn__secondary hero__button" href="tel:+79250602211">Задать вопрос врачу</a>
                </div>
            </div>
            <img class="hero__image" src="/images/service/esthetics.png" style="right: -30%;" alt="ЭСТЕТИКА" />
        </div>
    </div>
</section>
<section class="about">
    <div class="container">
        <h2 class="about__title title">ЭСТЕТИКА <span class="text-primary">LIART DENT</span></h2>
        <div class="about__wrapper">
            <div class="about__image">
                <svg class="about__icon" width="256" height="96px">
                    <use xlink:href="/images/sprites.svg#icon-03"></use>
                </svg>
            </div>
            <div class="about__body">
                <h3 class="text-primary">ЧТО ЭТО?</h3>
                <p>
                    Эстетика в стоматологии – это комплекс процедур и манипуляций, направленных на ликвидацию
                    всевозможных изъянов и
                    профессиональное восстановление нормального вида зубов, их функционирования и в целом состояния
                    челюсти. Проводится она
                    за счет использования материалов высокого класса качества и безопасности с гарантией от
                    производителя. В ходе каждой
                    процедуры ведется инструментальный контроль на современном оборудовании.
                </p>
                <h3 class="text-primary">ДЛЯ КОГО ЭТО?</h3>
                <p>
                    Эстетическая стоматология пользуется спросом у тех, кто желает восстановить цвет, целостность, форму
                    и красоту зубов с
                    применением самых эффективных методов и средств современной стоматологии. Гарантию сохранения
                    полученного результата
                    пациентам обеспечивают специалисты, из года в год повышающие свою квалификацию и практические навыки
                    в этой сфере.

                </p>
                <a class="btn btn__primary about__button js-open--modal" href="#callback">Запись онлайн</a>
            </div>
        </div>
    </div>
</section>
<section class="callback">
    <div class="container">
        <div class="callback__wrapper"><img class="callback__image" src="/images/content/bg-callback.png" alt="">
            <form class="callback__form" id="callback-form-1">
                <div class="callback__title">ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК</div>
                <div class="callback__subtitle"><span class="text-primary">Не любите звонить
                        первыми?</span>Оставьте свои контактные данные и мы сами Вам позвоним!</div>
                <div class="callback__block">
                    <div class="callback__number">
                        <input class="form-control phone" type="text" name="phone" required>
                    </div>
                    <div class="callback__agree form-checkbox">
                        <input id="agree" type="checkbox" name="agree" hidden checked>
                        <label for="agree">
                            Я согласен с &nbsp;<a class="text-primary" href="#" target="__blank"
                                rel="nofollow">политикой конфиденциальности</a></label>
                    </div>
                    <button class="btn btn__primary callback__button" type="submit">Жду звонка</button>
                    <p class="callback__desc">Среднее время ожидания звонка 5 минут</p>
                </div>
            </form>
        </div>
    </div>
</section>
<section class="advantages bg-grey">
    <div class="container">
        <div class="advantages__wrapper">
            <h2 class="advantages__title title">ПРЕИМУЩЕСТВА <span class="text-primary">
                    LIART DENT</span></h2>
            <p class="advantages__subtitle subtitle italic">
                <span class="text-primary">
                    Мелочи не имеют решающего значения.
                </span>
                Мелочи решают все.
            </p>
            <div class="advantages__items swiper js-mobileSliderInit">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="advantages__item">
                            <div class="advantages__number">1</div>
                            <div class="advantages__name">Преимущество</div>
                            <div class="advantages__desc">Опыт работы в стоматологической сфере более 20 лет</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="advantages__item">
                            <div class="advantages__number">2</div>
                            <div class="advantages__name">Преимущество</div>
                            <div class="advantages__desc">Оправданная стоимость каждого вида услуг - Вы оплачиваете
                                работу, а не бренд
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="advantages__item">
                            <div class="advantages__number">3</div>
                            <div class="advantages__name">Преимущество</div>
                            <div class="advantages__desc">Наличие документального подтверждения квалификации
                                специалистов клиники</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="advantages__item">
                            <div class="advantages__number">4</div>
                            <div class="advantages__name">Преимущество</div>
                            <div class="advantages__desc">Возможность прямой связи благодаря профессиональным действиям
                                вежливых работников администрации</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="advantages__item">
                            <div class="advantages__number">5</div>
                            <div class="advantages__name">Преимущество</div>
                            <div class="advantages__desc">Индивидуальная схема работы с каждым пациентом
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="advantages__item">
                            <div class="advantages__number">6</div>
                            <div class="advantages__name">Преимущество</div>
                            <div class="advantages__desc">Форма оплаты согласовывается для каждого отдельного случая - в
                                соответствии с возможностями пациента. Предусмотрены
                                кредит и рассрочка.</div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
<section class="portfolio">
    <div class="container">
        <h2 class="portfolio__title title">РАБОТЫ <span class="text-primary">LIART DENT</span></h2>
        <div class="portfolio__wrapper">
            <div class="portfolio__slider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="juxtapose">
                            <img src="/images/before_after/4.JPG">
                            <img  src="/images/before_after/4_.JPG">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="juxtapose">
                            <img src="/images/before_after/6_.JPG">
                            <img src="/images/before_after/6.JPG">
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>
{% endblock %}